@model Bartosz_Lacny_projekt_bazy_danych.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń gatunek</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mt-1">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex gap-2 mt-1">
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Wróć do listy gatunków</a>
        </div>
    </form>
</div>
