@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Panel zarządzania schroniskiem dla zwierząt</h1>
    <p>Aby wyświetlić więcej opcji niż lista zwierząt zaloguj się lub utwórz nowe konto</p>
    
</div>
