@model Bartosz_Lacny_projekt_bazy_danych.Models.Cage

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń klatkę</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClean)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex gap-2 mt-1">
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Wróć do listy klatek</a>
        </div>
    </form>
</div>
